* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f3f3f4;
}

.btn-emerald {
  background-color: #50c878;
  color: #f3f3f4;
}

.text-emerald {
  color: #50c878;
}

.text-tart_orange {
  color: #fe4a49;
}

.btn-tart_orange {
  background-color: #fe4a49;
  color: #f3f3f4;
}

.bg-cultured {
  background-color: #f3f3f4;
}

.bg-emerald {
  background-color: #50c878;
  color: #f3f3f4;
}

.custom-hover {
  transition: ease-out 0.25s;
}

.custom-hover:hover {
  border-radius: 5px !important;
}

.name-container {
  height: 100vh;
}

.nav-item {
  margin-right: 30px;
  margin-left: 30px;
}

.navbar-brand {
  font-family: "Gugi", cursive;
  font-weight: bold;
}

.btn_contact {
  transition: 0.25s;
}

.btn_contact:hover {
  border-radius: 5px !important;
}

.container_about {
  padding-top: 100px;
  height: 100vh;
}

.home_portrait {
  filter: opacity(1);
}

.container_works {
  padding-top: 100px;
  min-height: 100vh;
}

.carousel-item {
  max-height: 80vh;
}

.carousel-item img {
  filter: opacity(0.8);
}

.card-footer button {
  transition: width 0.3s;
}

.card-footer button:hover {
  width: 75% !important;
  border-radius: 5px !important;
}

.container_reviews {
  padding-top: 100px;
  min-height: 100vh;
}

.container_contact {
  padding-top: 100px;
  min-height: 100vh;
}

.modal-footer button {
  transition: width 0.3s;
}
.modal-footer button:hover {
  width: 75% !important;
  border-radius: 5px !important;
}
